<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Добавление поста</h1>
     <form method="POST">
        <label>Название</label><br>
        <input name="name" class="field"/><br><br>
        <label>Дата</label><br>
        <input name="date_post" type="date" required class="field"/><br><br>
        <label>Описание</label><br>
        <input name="descript" class="field"/><br><br>
        <label>Тег</label><br>
        <input name="tag" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/blogs">К списку постов</a>
</body>
</html>